<div class="dropdown">
  <% entries.each do |entry| %>
    <%= link_to entry_path(entry.id) do %>
      <%= image_tag(entry.thumbnail_url, class: 'img-responsive') %>
      <p class="calendar-date"><%= date.day %></p>
    <% end %>
  <% end %>
</div>
