<div class="dropdown">
  <%= link_to new_entry_path(date: date.to_s) do %>
    <%= image_tag('bg_empty.png', class: 'img-responsive link-gentle calendar-empty') %>
    <p class="calendar-date"><%= date.day %></p>
  <% end %>
</div>
