option_settings:
  - namespace: 'aws:elasticbeanstalk:command'
    option_name: 'Timeout'
    value: '1200'

packages:
  yum:
    git: []

commands:
  01_mkdir_webapp_dir:
    # use the test directive to create the directory
    # if the mkdir command fails the rest of this directive is ignored
    test: 'mkdir /home/webapp'
    command: 'ls -la /home/webapp'
  02_chown_webapp_dir:
    command: 'chown webapp:webapp /home/webapp'
  03_chmod_webapp_dir:
    command: 'chmod 700 /home/webapp'
  04_install_bower_global:
    command: 'npm install -g bower'

container_commands:
  02_bower_install:
    # set the current working directory to fully-qualified frontend
    cwd: '/var/app/ondeck/'
    command: 'rake bower:install'
    leader_only: 'false'
