<div class="list-group-item">
  <%= link_to user_path(user.id), class: 'link-gentle' do %>
    <div class="row-action-primary">
      <%= image_tag(user.profile_image_url, class: 'timeline-thumbnail') %>
    </div>
    <div class="row-content">
      <h4 class="list-group-item-heading"><%= user.name %></h4>
    </div>
  <% end %>
</div>
<div class="list-group-separator"></div>
