<div class="row">
  <div class="col-md-6 col-sm-12">
    <%= render partial: 'header_user', locals: {user: @user} %>
  </div>

  <div class="col-md-6 col-sm-12">
    <%= render partial: 'users/follow_form' %>
  </div>

</div>

<div class="row">
  <%= render partial: 'entries/calendar', locals: {entries: entries_calendar(@entries)} %>
</div>
