<div class="row">
  <div class="col-md-6 col-sm-12">
    <% if @user.instagram_user %>
      <%= render partial: 'instagram/users/info', locals: {instagram_user: @user.instagram_user, editable: true} %>
    <% else %>
      <h1><%= @user.email %></h1>
    <% end %>
  </div>

  <div class="col-md-12">
    <%= render partial: 'entries/calendar', locals: {entries: entries_calendar(@entries)} %>
  </div>
</div>
