<div class="row">
  <div class="list-group">
    <%= render partial: '/entries/entry', collection:@entries, as: :entry, locals: {} %>
  </div>
  <%= will_paginate(@entries, class: 'text-center') %>

  <div class="floating-btn-container">
    <%= link_to(new_entry_path, class: 'btn btn-fab btn-primary pull-right') do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
</div>
