<div class="row">
  <h1>Pick from Instagram</h1>

  <div class="list-group">
    <%= render partial: '/instagram/medias/media', collection: @instagram_medias, as: :media, locals: {} %>
  </div>

</div>
