// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table {
  table.calendar-table {
    table-layout: fixed;
  }

  td.calendar-cell {
    padding: 0;
    position: relative;
  }
}

.calendar-date {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 32px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}
