// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.entry-list-thumbnail {
  width: 100px;
  height: 100px;
}

table.calendar-table {
  table-layout: fixed;
  margin-top: 16px;

  & > tbody > tr > td {
    padding: 0;
    position: relative;
    border: 1px solid white;
  }
}

.calendar-header > a {
  font-size: 24px;
  margin: 0 10px 0 10px;
}

.calendar-title {
  font-size: 24px;
}

.calendar-date {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.calendar-empty:hover {
  opacity: 0.8;
}
