// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.calendar-table {
  table-layout: fixed;
  margin-top: 16px;

  & > tbody > tr > td {
    padding: 0;
    position: relative;
    border: 1px solid white;
  }
}

.calendar-header > a {
  font-size: 24px;
  margin: 0 10px 0 10px;
}

.calendar-title {
  font-size: 24px;
}

.calendar-date {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.calendar-text {
  background-color: #FF8A65;
}

.calendar-empty {
  background-color: #ECEFF1;
}

i.menu-icon {
  padding: 4px;
}

p.entry-title {
  margin-bottom: 15px;
}

.entry-list-image {
  margin-top: 10px;
  height: 150px;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    position: absolute;
    top: 0;
  }
}
