// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.timeline-list {
  padding: 0;
}

li.timeline-listitem {
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0);;
}
