<footer class="footer">
  <small>
    Powered by
    <a href="http://rubyonrails.org/">Ruby on Rails</a> and
    <a href="http://aws.amazon.com/jp/elasticbeanstalk/">AWS Elastic Beanstalk</a>
  </small>
</footer>
