

<paper-header-panel class="blue x-scope paper-header-panel-0" mode="standard">
  <paper-toolbar>
    <div class="paper-toolbar container">
      <%= link_to("diarygram", root_path, id: "logo", class: "navbar-brand") %>
      </div>
    <div class="paper-toolbar">
      <paper-tabs selected="<%= current_tab_index %>" class="container">
        <paper-tab link>
          <%= link_to('Timeline', root_path, class: 'horizontal center-center layout') %>
        </paper-tab>
        <paper-tab link>
          <%= link_to('Calendar', user_path(current_user.id), class: 'horizontal center-center layout') %>
        </paper-tab>
      </paper-tabs>
    </div>
  </paper-toolbar>
</paper-header-panel>
